// Движение
.movement {
  &[data-movement="light"] {
    &::after {
      background-image: radial-gradient(circle closest-side, theme("colors.white.DEFAULT"), transparent);

      transform : translate(-50%, -50%) translate(var(--x), var(--y));
      transition: width 0.3s ease, height 0.3s ease;

      @apply content-[""] absolute z-[1] top-0 left-0 opacity-30 pointer-events-none w-0 h-0;
    }

    @media(hover) {
      &:hover::after {
        @apply w-[250px] h-[250px];
      }
    }
  }
}