<% var data = {

  title: 'Aptfarma',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="container relative overflow-hidden pt-28 pb-10 xs:pt-32 sm:pt-36 md:pb-0 xl:pt-52">
  <div class="absolute inset-0" data-speed="1.1">
    <img class="hidden lg:block absolute left-1/2 -top-2 xl:-top-5 -translate-x-1/2 w-full max-w-[100px] xl:max-w-[140px]" src="img/pictures/jar.svg" alt="">
    <img class="hidden lg:block absolute -top-[100px] xl:-top-[100px] -left-[100px] xl:-left-[250px] w-full max-w-[300px] xl:max-w-[560px]" src="img/pictures/tablet.svg" alt="">
    <img class="hidden md:block absolute left-4 xl:left-[96px] bottom-[500px] xl:bottom-[210px] w-full max-w-[100px] lg:max-w-[200px]" src="img/pictures/pack.svg" alt="">
    <img class="hidden md:block absolute right-8 bottom-[210px] w-full max-w-[100px] lg:max-w-[230px]" src="img/pictures/syringe.svg" alt="">
  </div>
  <div class="relative">
    <h3 class="font-normal text-14 md:text-18 leading-3 mb-3 duration-5 anim anim--right" data-anim="hidden">Первая аптечная управленческая франшиза</h3>
    <div class="flex mb-5 md:mb-10 xl:-mb-14">
      <h1 class="font-medium uppercase text-26 sm:text-30 md:text-36 lg:text-42 leading-3 xl:mr-10 duration-5 delay-1 anim anim--right" data-anim="hidden">
        СТАНЬТЕ ЧАСТЬЮ УСПЕШНОЙ <br class="hidden lg:block"> АПТЕЧНОЙ СЕТИ И <b>ПОЛУЧИТЕ <br class="hidden lg:block"> ЭКСКЛЮЗИВНЫЕ ПРЕИМУЩЕСТВА</b>
      </h1>
      <div class="hidden xl:block pack pack-box z-1 bg-grey rounded-[40px_500px_500px_500px] border-[3px] border-solid border-white shadow-lg w-full max-w-[255px] duration-7 anim anim--left" data-movement="light" data-anim="hidden">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/main-img-2.webp" type="image/webp">
          <img class="image image-rise" loading="lazy" src="img/pictures/main-img-2.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="flex flex-col xl:flex-row xl:justify-between">
      <div class="order-2 xl:order-1 flex flex-col items-start">
        <div class="flex flex-col gap-3 sm:mb-5 xl:mb-14 duration-5 delay-2 anim anim--right" data-anim="hidden">
          <div class="flex items-center">
            <span class="icon bg-second rounded-max text-10 mr-3"></span>
            <span class="font-normal text-18 sm:text-20 md:text-24 leading-2">Известный бренд</span>
          </div>
          <div class="flex items-center">
            <span class="icon bg-second rounded-max text-10 mr-3"></span>
            <span class="font-normal text-18 sm:text-20 md:text-24 leading-2">Лучшие условия по маркетингу от поставщиков</span>
          </div>
          <div class="flex items-center">
            <span class="icon bg-second rounded-max text-10 mr-3"></span>
            <span class="font-normal text-18 sm:text-20 md:text-24 leading-2">Без паушального взноса и роялти</span>
          </div>
        </div>
        <div class="flex flex-col md:flex-row md:items-center relative w-full md:w-auto">
          <div class="order-2 md:order-1 ml-auto mr-auto md:ml-0 md:mr-7 duration-5 delay-3 anim anim--right" data-anim="hidden">
            <button class="btn btn-primary btn-lg sm:btn-xl btn-fill uppercase text-18 sm:text-24" data-waved="light">
              СКАЧАТЬ ПРЕЗЕНТАЦИЮ
              <svg class="icon hidden sm:block text-28 ml-2">
                <use xlink:href="img/icons.svg#download">
              </svg>
            </button>
          </div>
          <div class="order-1 md:order-2 relative w-full max-w-[260px] md:max-w-[190px] mx-auto md:mx-0 duration-5 delay-4 anim anim--up" data-anim="hidden">
            <div class="pack pack-rect-lg">
              <picture>
                <source srcset="img/pictures/presentation.webp" type="image/webp">
                <img class="image md:image-right" src="img/pictures/presentation.png" alt="">
              </picture>
            </div>
            <p class="relative -top-6 font-normal text-center md:text-left text-16 leading-2">
              31 слайд о том, <span class="font-semibold">как мы изменим ваш бизнес</span>
            </p>
            <img class="hidden md:block absolute -left-[120px] bottom-6 w-[100px]" src="img/pictures/arrow.svg" alt="">
          </div>
        </div>
      </div>
      <div class="order-1 xl:order-2 pack pack-box bg-grey rounded-[40px_500px_500px_500px] border-[3px] border-solid border-white shadow-lg w-full max-w-[600px] xl:max-w-[435px] mb-7 sm:mb-10 xl:mb-0 mx-auto xl:mx-0 duration-7 delay-2 anim anim--left" data-movement="light" data-anim="hidden">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/main-img-1.webp" type="image/webp">
          <img class="image image-rise" loading="lazy" src="img/pictures/main-img-1.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
</main>

<!-- Преимущества -->

<% var advantages = [
  {
    icon: 'img/pictures/pill-grey.svg',
    bg: 'bg-primary',
    title: 'Обычная аптека',
    bold: 'font-normal',
    listing: [
      'Высокая конкуренция',
      'Стагнация или падение прибыли',
      'Недостаток компетентных кадров',
      'до 3% маркетинг от закупки',
      'Предоплата или отсрочка платежа до 7 дней у поставщиков'
    ]
  },
  {
    icon: 'img/pictures/pill-red-blue.svg',
    bg: 'bg-second',
    title: 'Аптека Фарма',
    bold: 'font-semibold',
    listing: [
      'Широкая известность и лояльность среди покупателей',
      'Чистая прибыль 7% от оборота',
      '>30 экспертов-управленцев',
      '7-8% маркетинга от общих закупок ',
      'Отсрочка платежа до 45 дней'
    ]
  },
] %>

<section class="container relative overflow-hidden">
  <div class="absolute inset-0" data-speed="1.1">
    <img class="hidden lg:block absolute top-[100px] xl:top-[220px] xl:-left-5 w-full max-w-[150px] xl:max-w-[305px]" src="img/pictures/pill-big.svg" alt="">
    <img class="hidden lg:block absolute bottom-5 right-0 xl:-right-20 w-full max-w-[150px] xl:max-w-[390px]" src="img/pictures/tube.svg" alt="">
  </div>
  <div class="relative">
    <h2 class="font-semibold uppercase text-26 sm:text-30 md:text-36 leading-3 mb-4 duration-5 anim anim--right" data-anim="hidden">ЧТО ТАКОЕ УПРАВЛЕНЧЕСКАЯ ФРАНШИЗА?</h2>
    <h3 class="font-normal text-14 md:text-16 leading-5 mb-7 lg:mb-14 duration-5 anim anim--right" data-anim="hidden">
      К вашей аптеке подключаем налаженные бизнес-процессы, известный бренд <br class="hidden md:block">
      и лучшие условия от поставщиков. Результат - ваш бизнес растет и развивается <br class="hidden md:block">
      при минимальном личном  участии в операционке.
    </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
      <% for (var i = 0; i < advantages.length; i++) { %>
      <div class="flex flex-col">
        <div class="flex items-center mb-6 md:mb-9 duration-5 anim anim--up" data-anim="hidden">
          <div class="flex items-center justify-center relative bg-white rounded-max shadow-lg w-[90px] min-w-[90px] h-[90px] md:w-[115px] md:min-w-[115px] md:h-[115px]" data-waved="dark">
            <img class="icon text-6xl md:text-7xl" src="<%= advantages[i].icon %>" alt="">
          </div>
          <div class="flex items-center justify-center <%= advantages[i].bg %> text-white rounded-[26px_0px_26px_26px] w-full min-h-[60px] md:min-h-[85px] p-3 -ml-[45px] md:-ml-[57px]">
            <h4 class="font-bold text-center text-20 xs:text-24 md:text-30 leading-3"><%= advantages[i].title %></h4>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <% for (var j = 0; j < advantages[i].listing.length; j++) { %>
          <div class="duration-5 anim anim--up" data-anim="hidden">
            <div class="card rounded-[26px_0px_26px_26px] min-h-[75px] md:min-h-[95px] py-4 px-4 md:py-5 md:px-9" data-waved="dark">
              <div class="card-content justify-center">
                <p class="<%= advantages[i].bold %> text-16 leading-5"><%= advantages[i].listing[j] %></p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Условия -->

<% var conditions = [
  {
    hidden: '',
    delay: '',
    data: '',
    title: 'Управляем всеми процессами',
    icon: 'img/icons.svg#arrows',
    text: 'От ассортимента и ценообразования до кадров и хозяйственного блока.'
  },
  {
    hidden: '',
    delay: 'xl:delay-2',
    data: '',
    title: 'Бизнес остаётся за вами',
    icon: 'img/icons.svg#case',
    text: 'Работаем без изменений в уставных документах.'
  },
  {
    hidden: '',
    delay: '',
    data: '',
    title: 'Делаем частью известного бренда',
    icon: 'img/icons.svg#planet',
    text: 'Только в сети Интернет наши аптеки ищут более 100 000 человек в месяц.'
  },
  {
    hidden: 'hidden sm:block',
    delay: 'xl:delay-2',
    data: 'data-listing-item',
    title: '100% прибыли отдаем вам',
    icon: 'img/icons.svg#money',
    text: 'Мы получаем только фиксированную оплату за управление каждой аптекой.'
  },
  {
    hidden: 'hidden sm:block',
    delay: '',
    data: 'data-listing-item',
    title: 'Результат заметен с 1 месяца',
    icon: 'img/icons.svg#marketing',
    text: 'За счет увеличения маркетинга до 7-8% от закупки и отсрочки платежа до 45 дней.'
  },
  {
    hidden: 'hidden sm:block',
    delay: 'xl:delay-2',
    data: 'data-listing-item',
    title: 'Без паушального взноса и роялти',
    icon: 'img/icons.svg#rocket',
    text: 'Просто начать и легко выйти, если вас что-либо не устроит.'
  },
] %>

<section class="container container--xs relative overflow-hidden">
  <div class="absolute inset-0" data-speed="1.1">
    <img class="hidden lg:block absolute -left-[50px] bottom-[200px] w-full max-w-[200px] xl:max-w-[360px]" src="img/pictures/thermometer.svg" alt="">
    <img class="hidden lg:block absolute -right-[64px] bottom-[120px] w-full max-w-[200px] xl:max-w-[320px]" src="img/pictures/patch.svg" alt="">
  </div>
  <div class="relative" data-listing>
    <h2 class="font-semibold uppercase text-26 sm:text-30 md:text-36 leading-3 mb-7 lg:mb-14 duration-5 anim anim--right" data-anim="hidden">ПРОЗРАЧНЫЕ И ВЫГОДНЫЕ УСЛОВИЯ</h2>
    <div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-7">
      <div class="xl:col-2 grid grid-cols-1 sm:grid-cols-2 gap-5 md:gap-7">
        <% for (var i = 0; i < conditions.length; i++) { %>
        <div class="<%= conditions[i].hidden %> duration-5 <%= conditions[i].delay %> anim anim--right" data-anim="hidden" <%= conditions[i].data %>>
          <div class="card rounded-[26px_26px_0px_26px] h-full" data-waved="dark">
            <div class="flex items-center justify-between gap-3 bg-primary text-white rounded-[26px_26px_0px_26px] min-h-[60px] sm:min-h-[84px] py-4 pl-3 pr-3 md:pr-4 md:pl-6">
              <h4 class="font-semibold text-18 md:text-24 leading-1"><%= conditions[i].title %></h4>
              <svg class="icon text-24 md:text-28">
                <use xlink:href="<%= conditions[i].icon %>">
              </svg>
            </div>
            <div class="card-content pt-4 px-4 pb-6 md:px-6">
              <p class="font-normal text-14 md:text-16 leading-5 w-full xl:max-w-[280px]"><%= conditions[i].text %></p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="hidden xl:block col-1">
        <div class="pack pack-box bg-grey rounded-[40px_500px_500px_500px] border-[3px] border-solid border-white shadow-lg h-full duration-7 anim anim--left" data-movement="light" data-anim="hidden">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/conditions-img.webp" type="image/webp">
            <img class="image image-rise" loading="lazy" src="img/pictures/conditions-img.jpg" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="sm:hidden duration-5 anim anim--up" data-anim="hidden">
      <button class="btn btn-second btn-md btn-fill mx-auto mt-10" data-listing-show>Показать ещё</button>
    </div>
  </div>
</section>

<!-- Управление -->

<% var control = [
  {
    order: 'order-1',
    anim: 'anim--right',
    bg: 'bg-primary',
    title: 'Ценообразование',
    text: 'Дифференцированное ценообразование, основанное на эластичности товарных категорий.'
  },
  {
    order: 'order-2',
    anim: 'anim--left',
    bg: 'bg-second',
    title: 'Ассортимент',
    text: 'Динамичная перестройка под потребности покупателя. Все расчеты основаны на цифрах продаж конкретной аптеки.'
  },
  {
    order: 'order-3 lg:order-4',
    anim: 'anim--left',
    bg: 'bg-primary',
    title: 'Мотивация',
    text: 'Активное управление продажами при полном контроле бюджета на ФОТ.'
  }
] %>

<section class="container relative overflow-hidden pb-0">
  <div class="absolute inset-0" data-speed="1.1">
    <img class="hidden lg:block absolute top-10 left-10 xl:top-[100px] xl:left-[100px] w-full max-w-[150px] xl:max-w-[230px]" src="img/pictures/pills.svg" alt="">
    <img class="hidden lg:block absolute right-2 xl:right-8 bottom-5 xl:-rotate-[30deg] w-full max-w-[150px] xl:max-w-[220px]" src="img/pictures/syringe.svg" alt="">
  </div>
  <div class="relative">
    <h2 class="font-semibold uppercase text-26 sm:text-30 md:text-36 leading-3 mb-7 lg:mb-14 duration-5 anim anim--right" data-anim="hidden">Как мы управляем аптеками</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-7 lg:gap-10">
      <div class="order-4 lg:order-3 duration-5 anim anim--right" data-anim="hidden">
        <div class="relative lg:min-h-[220px]">
          <img class="block lg:absolute lg:right-0 lg:bottom-0 w-full xl:min-w-[560px]" src="img/pictures/control-img.svg" alt="">
        </div>
      </div>
      <% for (var i = 0; i < control.length; i++) { %>
      <div class="<%= control[i].order %> duration-5 anim <%= control[i].anim %>" data-anim="hidden">
        <div class="flex flex-col justify-center relative <%= control[i].bg %> text-white rounded-[26px_0px_26px_26px] min-h-[150px] lg:min-h-[220px] py-6 px-4 md:px-8 lg:py-10 lg:px-12">
          <h4 class="font-semibold text-24 md:text-30 lg:text-36 leading-3 mb-2"><%= control[i].title %></h4>
          <p class="font-normal text-16 leading-5"><%= control[i].text %></p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Описание -->

<% var description = [
  {
    hidden: '',
    anim: 'lg:anim--right',
    data: '',
    flex: 'lg:flex-row',
    title: 'IT-инфраструктура',
    listing: [
      'Программный продукт «Смартаптека». Устанавливаем своими силами и за свой счет, перенося остатки со старой программы, полностью контролируя данный процесс.',
      'Обслуживание компьютеров и периферийного оборудования. Видеокамеры, кассовые аппараты, мониторы, серверы и т.д.',
      'Все работы по настройке, решению проблем на нашей стороне.'
    ],
    rounded: 'rounded-[0px_500px_500px_0px]',
    margin: '-ml-10',
    img: '1'
  },
  {
    hidden: '',
    anim: 'lg:anim--left',
    data: '',
    flex: 'lg:flex-row-reverse',
    title: 'Доступ к поставщикам и условиям по маркетингу',
    listing: [
      'Маркетинг <span class="font-semibold">7-8%</span> от закупки',
      'Отсрочка платежа <span class="font-semibold">30-45</span> дней'
    ],
    rounded: 'rounded-[500px_0px_0px_500px]',
    margin: '-mr-10',
    img: '2'
  },
  {
    hidden: '',
    anim: 'lg:anim--right',
    data: '',
    flex: 'lg:flex-row',
    title: 'Взаимодействие с проверяющими органами',
    listing: [
      'Лицензирование.',
      'Внутренние проверки, максимально возможное (разумное) соблюдение норм.',
      'Подготовка аптек и участие в официальных проверках, взаимодействие с проверяющими органами.',
      'Актуализация и ведение необходимой документации (СОПы, журналы и пр.).',
      'Контроль медкнижек, санминимумов, своевременная актуализация.',
      'Аккредитация, сертификация, обучение, набор баллов, ведение реестра специалистов.',
      'Забраковка, сроки годности, карантинная зона.',
      'Инвентаризации.'
    ],
    rounded: 'rounded-[0px_500px_500px_0px]',
    margin: '-ml-10',
    img: '3'
  },
  {
    hidden: 'hidden lg:block',
    anim: 'lg:anim--left',
    data: 'data-listing-item',
    flex: 'lg:flex-row-reverse',
    title: 'Маркетинг и PR',
    listing: [
      'Проведение промо-акций, товара дня.',
      'Бесплатное подключение к программе лояльности, в том числе смс-рассылки по базе.',
      'Анализ конкурентов – потенциал, изменения в маркетинге и промо.',
      'Анализ эффективности подключенияк интернет-агрегаторам, повышение доходности данного канала.',
      'Работа с репутацией (размещение в Яндекс Картах, 2ГИС, работа с отзывами, публикация правильной информации, скидок и пр.).',
      'Формирование «правильного» ценообразования, исходя из эластичности товаров.',
      'Управление мотивацией линейного персонала, активное управление продажами.',
      'Проведение внутренних акций.'
    ],
    rounded: 'rounded-[500px_0px_0px_500px]',
    margin: '-mr-10',
    img: '4'
  },
  {
    hidden: 'hidden lg:block',
    anim: 'lg:anim--right',
    data: 'data-listing-item',
    flex: 'lg:flex-row',
    title: 'Бухгалтерия и юридическая поддержка',
    listing: [
      'Контроль и проведение своевременных оплат контрагентам.',
      'Сверка с контрагентами.',
      'Годовой баланс, квартальные отчеты.',
      'Выплаты зарплаты, ведение больничных.',
      'Контроль начислений отпускных.',
      'Взаимоотношения с банками, расчетные счета, инкассация, эквайринг, размен – получение лучших условий, вся работа по данным направлениям.',
      'Заключение договоров аренды.',
      'Работа с госорганами.'
    ],
    rounded: 'rounded-[0px_500px_500px_0px]',
    margin: '-ml-10',
    img: '5'
  },
  {
    hidden: 'hidden lg:block',
    anim: 'lg:anim--left',
    data: 'data-listing-item',
    flex: 'lg:flex-row-reverse',
    title: 'Кадры',
    listing: [
      'Ведение всей документации (трудовые книжки, приказы, трудовые договора, и т.д.).',
      'Работа с военкоматами, Социальным фондом, Росстатом, службой занятости.',
      'Проведение спецоценки труда рабочих мест (мы организуем, оплачивается клиентом).',
      'Трудовые споры.',
      'Поиск персонала – полноценных кадров, подработчиков, закрытие смен. Вакансии на сайтах рекрутмента, обзвон, сбор потенциальной базы работников.',
      'Разделение оплаты кластерных заведующих (одна заведующая на 3-5 аптек с разделением зарплаты по количеству ведомых аптек).',
      'Оценка и развитие персонала (обучение бизнес-тренером и пр.).',
      'Оценка и улучшение атмосферы в коллективе, проведение неформальных мероприятий.'
    ],
    rounded: 'rounded-[500px_0px_0px_500px]',
    margin: '-mr-10',
    img: '6'
  },
  {
    hidden: 'hidden lg:block',
    anim: 'lg:anim--right',
    data: 'data-listing-item',
    flex: 'lg:flex-row',
    title: 'Закупки',
    listing: [
      'Взаимоотношения с поставщиками – получение лучших условий, договорная работа.',
      'Предупреждение появления дефицитов, получение дефицитных товаров.',
      'Управление глубиной заказа, достижение минимального количества отказов при оптимальной оборачиваемости товарных остатков.',
      'Работа с возвратами, пересортами, недовозами.',
      'Обработка интернет-заказов.',
      'Формирование ассортиментной матрицы, пересмотр по продажам каждые 4 месяца, работа с отказами на кассах.'
    ],
    rounded: 'rounded-[0px_500px_500px_0px]',
    margin: '-ml-10',
    img: '7'
  },
  {
    hidden: 'hidden lg:block',
    anim: 'lg:anim--left',
    data: 'data-listing-item',
    flex: 'lg:flex-row-reverse',
    title: 'Внутренние коммуникации и развитие',
    listing: [
      'Видеонаблюдение, введение и соблюдение стандартов поведения первостольников, работа с повышением качества обслуживания.',
      'Оценка первостольников по грейдам (относительно внутреннего участия в делах компании и соответствие заявленным высоким требованиям).',
      'Развитие кластерных руководителей, помощь в работе.'
    ],
    rounded: 'rounded-[500px_0px_0px_500px]',
    margin: '-mr-10',
    img: '8'
  },
  {
    hidden: 'hidden lg:block',
    anim: 'lg:anim--right',
    data: 'data-listing-item',
    flex: 'lg:flex-row',
    title: 'Хозяйственный блок',
    listing: [
      'Проводим все плановые мелкие работы (замена лампочек, ремонт дверей, полок и пр.).',
      'Регулярно развозим документыи предметы хозяйственных нужд (канцелярия, кассовые ленты, пакеты, бумага, обмен картриджей для принтеров и пр.).',
      'Экстренные ситуации решаются через вызов внешних специалистов за счет клиента (прорвало трубу и т.п.).'
    ],
    rounded: 'rounded-[0px_500px_500px_0px]',
    margin: '-ml-10',
    img: '9'
  }
] %>

<section class="container relative overflow-hidden" data-listing="3">
  <div class="absolute inset-0" data-speed="1.1">
    <img class="hidden xl:block absolute -left-12 top-0 w-full max-w-[300px]" src="img/pictures/patch-big.svg" alt="">
    <img class="hidden xl:block absolute right-4 top-0 w-full max-w-[300px]" src="img/pictures/pill-open.svg" alt="">
    <img class="hidden xl:block absolute -left-4 top-[400px] w-full max-w-[300px]" src="img/pictures/tablet.svg" alt="">
    <img class="hidden xl:block absolute right-[120px] top-[400px] w-full max-w-[150px]" src="img/pictures/jar.svg" alt="">
    <img class="hidden xl:block absolute left-14 top-[900px] w-full max-w-[200px]" src="img/pictures/pack.svg" alt="">
    <img class="hidden xl:block absolute -right-16 top-[800px] w-full max-w-[300px]" src="img/pictures/pills.svg" alt="">
    <img class="hidden xl:block absolute -left-10 top-[1600px] w-full max-w-[250px]" src="img/pictures/pill-big.svg" alt="">
    <img class="hidden xl:block absolute -right-20 top-[1600px] w-full max-w-[350px]" src="img/pictures/pills-pack.svg" alt="">
    <img class="hidden xl:block absolute -left-16 top-[2300px] rotate-[95deg] w-full max-w-[300px]" src="img/pictures/tube.svg" alt="">
    <img class="hidden xl:block absolute -right-28 top-[2500px] w-full max-w-[300px]" src="img/pictures/patch-big.svg" alt="">
    <img class="hidden xl:block absolute left-[140px] top-[2800px] w-full max-w-[300px]" src="img/pictures/pack-min.svg" alt="">
    <img class="hidden xl:block absolute -right-20 top-[3100px] w-full max-w-[350px]" src="img/pictures/pack-height.svg" alt="">
    <img class="hidden xl:block absolute -left-10 top-[3800px] w-full max-w-[250px]" src="img/pictures/pills-two.svg" alt="">
    <img class="hidden xl:block absolute -right-10 top-[3800px] -rotate-180 w-full max-w-[300px]" src="img/pictures/thermometer.svg" alt="">
    <img class="hidden xl:block absolute left-0 top-[4300px] -rotate-[200deg] w-full max-w-[150px]" src="img/pictures/syringe.svg" alt="">
    <img class="hidden xl:block absolute -right-[90px] top-[4300px] rotate-[150deg] w-full max-w-[300px]" src="img/pictures/patch.svg" alt="">
    <img class="hidden xl:block absolute -left-16 -bottom-28 w-full -rotate-45 max-w-[450px]" src="img/pictures/pill-open.svg" alt="">
    <img class="hidden xl:block absolute -right-20 -bottom-28 w-full max-w-[450px]" src="img/pictures/pills-big-two.svg" alt="">
  </div>
  <div class="relative">
    <div class="flex flex-col gap-6 sm:gap-10 lg:gap-20">
      <% for (var i = 0; i < description.length; i++) { %>
      <div class="<%= description[i].hidden %> duration-5 anim <%= description[i].anim %>" <%= description[i].data %> data-anim="hidden">
        <div class="flex flex-col <%= description[i].flex %> lg:items-stretch lg:justify-between">
          <div class="card z-1 rounded-4 lg:rounded-7 w-full lg:max-w-[540px]" data-waved="dark">
            <div class="bg-primary text-white rounded-4 lg:rounded-7 py-4 px-3 lg:py-5 lg:px-6">
              <h4 class="font-bold text-20 sm:text-24 lg:text-30 leading-2"><%= description[i].title %></h4>
            </div>
            <div class="card-content pt-5 pb-7 px-3 lg:pb-10 lg:px-8">
              <div class="flex flex-col gap-3">
                <% for (var j = 0; j < description[i].listing.length; j++) { %>
                <div class="flex">
                  <span class="icon bg-second rounded-max text-10 mt-1 mr-2 lg:mr-3"></span>
                  <p class="font-normal text-14 sm:text-16 leading-5"><%= description[i].listing[j] %></p>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <div class="card hidden lg:flex <%= description[i].rounded %> border-[6px] border-solid border-white w-full max-w-[600px] <%= description[i].margin %>">
            <div class="pack bg-grey h-full" data-movement="light">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/description-img-<%= description[i].img %>.webp" type="image/webp">
                <img class="image image-rise" loading="lazy" src="img/pictures/description-img-<%= description[i].img %>.jpg" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div class="lg:hidden duration-5 anim anim--up" data-anim="hidden">
      <button class="btn btn-second btn-md btn-fill mx-auto mt-10" data-listing-show>Показать ещё</button>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>